.buttonCenter{
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.button{
  padding: 10px 35px;
  background-color: $green;
  color: $white;
  border-radius: 60%;
}
.buttonDelete{
  padding: 10px 35px;
  background-color: $red;
  color: $white;
  border-radius: 60%;
}
.buttonLeft{
  transform: translate(-50%,0);
  position: absolute;
  left: 18%;
  bottom: 20px;
  font-family: $fontH;
}
.buttonCpte{
  padding: 10px 35px;
  background-color: $green;
  color: $white;
  border-radius: 60%;
}