.titleCourse{
  font-family: $fontT;
  color: $blue;
  font-size: 30px;
  padding: 7%;
  text-align: center;
}
.headCourse{
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
}
//---------------------------        IMG COURSES   -------------------------------------
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.coursesClass {
  width: 20%;
  margin: 20px 0;
  overflow: hidden;
}
.img {
  transition: all 1s ease;
}
.imgResp {
  width: $W100;
  height: 300px;
}
//---------------------------    BOTTOM     COURSES   -------------------------------------
.backCenter{
  font-family: $fontH;
  background-color: #850C35;
  color: $white;
  font-size: 16px;
  height: 50px;
  width: 200px;
  margin: 2rem;
  text-align: center;
}
//----------------------------------------  STAGES  ------------------------------------------
.titleCourseType{
  font-family: $fontT;
  color: $blue;
  font-size: 30px;
  padding-top: 30%;
}
.titleCourseTypeBis{
  font-family: $fontH;
  color: $blue;
  font-size: 24px;
  padding-top: 30%;
}
//---------------------------------------- FORMULAIRE  ------------------------------------------
//.inputTitle, .inputDescription, .inputPrice, .inputMinPerson, .inputMaxPerson,
//.inputPriceCe, .inputDuration, .inputTicket, .inputPhoto, .inputAlt{
//  font-size: $fs20;
//  color: $blue;
//}
.courseForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  text-align: left;
}
.formulaireCourse{
  width: 50%;
  text-align: left;
  margin: 0 auto;
  font-size: $fs20;
  color: $blue;
}
.flashInfo{
  color: $blue;
  font-size: $fs35;
}