.flashInfo{
  color: $blue;
  font-size: $fs35;
}
.formulaire{
  width: 50%;
  text-align: left;
  margin: 0 auto;
  font: $fontH;
  color: $blue;
}
//.inputLastName, .inputDateBirth, .inputSexe, .inputPhone, .inputEmail, .inputPseudo, .inputLevel